{% extends 'base.html' %}

{% block header %}
    <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}

    <p> 主题: {{ topic }}</p>

{#    <p> 条目:</p>#}
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">新增条目</a>
    </p>
    <ul>
        {% for entry in entries %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        {{ entry.date_added | date:'M d,Y H:i' }}
                        <small>
                            <a href="{% url 'learning_logs:edit_entry' entry.id %}">
                                编辑条目
                            </a>
                        </small>
                    </h3>
                </div>
                <div class="panel-body">
                    {{ entry.text | linebreaks }}
                </div>
            </div>
        {% empty %}
            还没有相关主题和内容.
        {% endfor %}
    </ul>

{% endblock content %}